/*https://www.cssportal.com/css-style-editor/*/

body {
  background-color: #F5F5F5;
}

#header-div {
  background-color: #7ad7b7;
  color: #000000;
  font-family: verdana;
  font-style: normal;
  font-weight: bold;
  padding: 5px;
  margin: 5px;
  border: 1px solid #7ad7b7;
  border-radius: 16px;
}

#control-bar-div{
  background-color: #FFFFFF;
  color: #000000;
  font-family: verdana;
  font-style: normal;
  padding: 5px;
  margin: 5px;
  border: 1px solid #FFFFFF;
  border-radius: 16px;
}
#map-div{
  background-color: #FFFFFF;
  color: #000000;
  border: 1px solid #FFFFFF;
  border-radius: 16px;
  padding: 5px;
  margin: 5px;
}
#radar-div{
  background-color: #FFFFFF;
  color: #000000;
  border: 1px solid #FFFFFF;
  border-radius: 16px;
  padding: 5px;
  margin: 5px;
}
#table-div{
  background-color: #FFFFFF;
  color: #000000;
  border: 1px solid #FFFFFF;
  border-radius: 16px;
  padding: 5px;
  margin: 5px;
}
#bar-div{
  background-color: #FFFFFF;
  color: #000000;
  border: 1px solid #FFFFFF;
  border-radius: 16px;
  padding: 5px;
  margin: 5px;
}